extends layout

block content
    h1 div title
    form(action="/articles/add", method='POST')
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        #form-group
            label Author:
            input.form-control(name='author', type='text')
        #form-group
            label Body:
            textarea.form-control(name='body')
        br
        input.btn.btn-primary(type='submit', value='Submit')