extends layout

block content
    h1 #{article.title}
    h3 this was written by #{ article.author}

    hr

    a.btn.btn-default(href='/article/edit/'+article._id) Edit
    a.btn.btn-danger.delete-article(data-id=article._id) Delete
