extends layout

block content
    h1 #{title}
    ul
        each article, i in articles
            li
                a(href="/article/"+article._id)= article.title
                p= article.author
                p= article.body