doctype html
html
    head
        title index page | Test app
        link(rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.css')
        //- link(rel="stylesheet" href='/css/style.css')
    body
       <!-- Grey with black text -->
        nav.navbar.navbar-expand-sm.bg-light.navbar-light
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#') Active
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item
                    a.nav-link.disabled(href='#') Disabled
        .container    
            block content
            br
            hr

            script(src='/bower_components/jquery/dist/jquery.min.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
            script(src='/js/myjs.js')
            footer
                p copyright &copy 2019